@CHARSET "UTF-8";

		.dynamic_gallery img{border:0;margin-top:15px;}
	.design{ padding:10px;overflow:hidden;position:absolute;}
		.design .design_title{text-align:center}
		#header{display:none}
		#footer{display:none}